[Desktop Entry]
Version=1.0
Type=Application
Name=ypartclone
Comment=Realiza a clonagem de HD/SSD
Exec=./teste.sh --gui
Icon=/home/fernando/Área de trabalho/1751767.png
Path=
Terminal=true
StartupNotify=false


Keywords=ypartclone;
Keywords[ar]=
Keywords[be]=
Keywords[ca]=
Keywords[ca@valencia]=
Keywords[cs]=
Keywords[da]=
Keywords[de]=
Keywords[el]=
Keywords[en_GB]=
Keywords[es]=
Keywords[eu]=
Keywords[fi]=
Keywords[fr]=
Keywords[gl]=
Keywords[hr]=
Keywords[hu]=
Keywords[is]=
Keywords[it]=
Keywords[ka]=
Keywords[lt]=
Keywords[lv]=
Keywords[mr]=
Keywords[nl]=
Keywords[pl]=
Keywords[pt]=
Keywords[pt_BR]=partimage;ghost;partclone;dd;clonar;imagem;ypartclone;Partição;SSD;HD;FSArchiver;clonezilla;hd;ssd;phantom;hardware;ransomware;backup;
Keywords[ro]=
Keywords[ru]=
Keywords[sk]=
Keywords[sl]=
Keywords[sr]=
Keywords[sr@latin]=
Keywords[sv]=
Keywords[tr]=
Keywords[uk]=
Keywords[vi]=
Keywords[zh_CN]=
Keywords[zh_TW]=

Categories=GNOME;System;Filesystem;

